* {
    margin: 0;
    padding: 0;
}

#login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#login-form {
    text-align: center;
}

#loginSubmit {
    width: 30%;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h4.login-title {
    color: dodgerblue;
}

button:hover, a:hover {
    cursor: pointer;
}

/*
Menu Bar Style
*/
@media screen and (max-width: 625px) {
    header {
        height: 9.2vw;
    }
}

@media screen and (min-width: 625px) and (max-width: 800px) {
    header {
        height: 8vw;
    }

    nav a {
        font-size: 2vw;
    }
}

@media screen and (min-width: 800px) {
    header {
        height: 6.5vw;
    }

    nav a {
        font-size: 1.5vw;
    }
}

header {
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: 1s ease-out 0s 1 slideDown;
}

#right-header {
    width: 100%;
    padding-right: 3%;
}

nav {
    float: right;
    height: 100%;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: .55vw;
    padding-right: .55vw;
}

#topLinks {
    height: 100%;
}

nav a:hover {
    color: grey;
}

/*#reporting-container {*/
    /*width: 650px;*/
    /*height: 400px;*/
/*}*/

/*#reporting-form {*/
    /*width: 650px;*/
    /*height: 400px;*/
/*}*/

/*html {*/
    /*height: 100%;*/
/*}*/

#locationNote, #mammalNote {
    width: 80%
}

#city, #state, #county {
    width: 45%
}

div.wrap-container {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 5%;
}

#reporting-form {
    width: 100%;
}

#report-button {
    width: 20%;
    height: 25px;
    border-radius: 8px;
    color: white;
    background-color: dodgerblue;
    margin-left: 40%;
    font-weight: bold;
}

input, textarea {
    border: 1px solid black;
}

#latitude, #longitude {
    width: 8%;
}

.latitude, .longitude {
    position: inherit;
}

/*Map formatting*/
